.header-header {
  width: 1538px;
  height: 61px;
  display: flex;
  z-index: 1;
  position: relative;
  max-width: 101%;
  min-width: 101%;
  align-self: flex-end;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-end;
  background-color: #000000;
}
.header-icon {
  top: 8px;
  fill: #ede9e9;
  left: 31px;
  width: 41px;
  height: 42px;
  position: absolute;
}
.header-icon2 {
  top: 8px;
  fill: #ffffff;
  left: 108px;
  width: 43px;
  height: 40px;
  position: absolute;
}
.header-button {
  top: 0px;
  color: rgb(255, 255, 255);
  right: 592px;
  width: 148px;
  bottom: 0px;
  height: 61px;
  position: absolute;
  align-self: flex-end;
  transition: 0.3s;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}
.header-button:hover {
  color: #000000;
  width: 148px;
  text-decoration: underline;
  background-color: #ffffff;
}
.header-button1 {
  top: 0px;
  color: rgb(255, 255, 255);
  right: 444px;
  width: 148px;
  bottom: 0px;
  height: 61px;
  position: absolute;
  align-self: flex-end;
  transition: 0.3s;
  background-color: rgb(0, 0, 0);
}
.header-button1:hover {
  color: #000000;
  text-decoration: underline;
  background-color: #ffffff;
}
.header-button2 {
  top: 0px;
  color: #ffffff;
  right: 296px;
  width: 148px;
  bottom: var(--dl-space-space-oneandhalfunits);
  height: 61px;
  position: absolute;
  align-self: flex-end;
  transition: 0.3s;
  background-color: #000000;
}
.header-button2:hover {
  color: #000000;
  text-decoration: underline;
  background-color: #ffffff;
}
.header-button3 {
  top: 0px;
  color: #ffffff;
  right: 0px;
  width: 148px;
  bottom: 0px;
  height: 61px;
  position: absolute;
  align-self: flex-end;
  transition: 0.3s;
  background-color: #000000;
}
.header-button3:hover {
  color: #000000;
  text-decoration: underline;
  background-color: #ffffff;
}
.header-button4 {
  top: 0px;
  color: #ffffff;
  right: 148px;
  width: 148px;
  bottom: -0px;
  height: 61px;
  position: absolute;
  align-self: flex-end;
  transition: 0.3s;
  background-color: #000000;
}
.header-button4:hover {
  color: #000000;
  text-decoration: underline;
  background-color: #ffffff;
}
@media(max-width: 991px) {
  .header-header {
    padding-bottom: var(--dl-space-space-twounits);
  }
  .header-icon {
    top: 31px;
    left: 44px;
    width: 43px;
    height: 38px;
  }
  .header-icon2 {
    top: 30px;
    left: 100px;
    width: 42px;
    height: 41px;
    position: absolute;
  }
}
@media(max-width: 767px) {
  .header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-icon {
    top: 32px;
    left: 32px;
    width: 47px;
    height: 38px;
    position: absolute;
    align-self: flex-start;
  }
  .header-icon2 {
    top: 33px;
    left: 100\px;
    width: 32px;
    height: 34px;
    position: absolute;
  }
  .header-button {
    border-color: #ffffff;
  }
  .header-button1 {
    border-color: #ffffff;
  }
  .header-button2 {
    border-color: #ffffff;
  }
  .header-button3 {
    border-color: #ffffff;
  }
  .header-button4 {
    border-color: #ffffff;
  }
}
@media(max-width: 479px) {
  .header-header {
    padding: var(--dl-space-space-unit);
  }
}
